DATABASE_URL="postgresql://user:password@localhost:5432/mydb"
PORT=3000
OPENSKY_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENSKY_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENWEATHER_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DADOS_MOCKADOS=FALSE